---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to p4nth3rworld" description="The game doesn't stop when the stream ends.">
		<h1>This is p4nth3rworld</h1>
		<a href="https://p4nth3rworld-manual.netlify.app/">Read the manual</a>
</Layout>

