---
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);
---

<header>
  <nav>
    <a href="/">Home</a>
    {session !== null ? (<a href="/inventory">Inventory</a>) : ""}
  </nav>

  <div>
      {
			session !== null ? (
      <meta id="username" data-session-username={session?.user?.name} />
        <div>
          <div>
            <p>Welcome {session.user?.name}</p>
            <button id="logout">Log out</button>
          </div>
          <img src={session.user?.image} height="50" width="50" alt={`${session.user?.name} profile picture`} />
        </div>
			) : (
				<button id="login">Login with Twitch</button>
			)
    }
    </div>
  </header>

<script >
  const { signIn, signOut } = await import("auth-astro/client");

  const username = document.querySelector("#username");

  if (username === null) {
    const loginButton: HTMLElement = document.querySelector("#login")
    loginButton.onclick = () => signIn("twitch");
  } else {
    const logoutButton: HTMLElement = document.querySelector("#logout")
    logoutButton.onclick = () => signOut();
  }
</script>